@import './common.less';

.Question-main {
  .ContentItem.AnswerItem {
    .ContentItem-expandButton {
      display: none !important;
    }
  }

  .ctz-n-button-expend {
    color: @blue1;
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
  }

  .ctz-n-button-close {
    margin-left: 12px;
    border: 0 !important;
  }

  .ctz-n-button-comment {
    margin-left: 12px;
  }
}

.ctz-answer-item {
  .AuthorInfo-avatarWrapper {
    .AuthorInfo-avatar {
      box-sizing: border-box;
      margin: 0;
      min-width: 0;
      max-width: 100%;
      background-color: #ffffff;
      width: 38px;
      height: 38px;
      border-radius: 2px;
    }
  }
  .RichContent-inner {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

.Question-mainEntity {
  .ContentItem-actions > .ContentItem-action {
    display: none;
  }
}
