.zhuanlan .ColumnPageHeader,
.Recommendations-List,
.ContentItem-actions,
.AnswerItem-authorInfo {
  overflow-x: auto;
}

.Modal--large,
.css-1aq8hf9,
.css-5ijnlw,
.css-1mnl0vg,
.RichContent-actions,
.zhuanlan .ColumnPageHeader-content {
  width: auto !important;
}

.css-1aq8hf9 {
  height: 100% !important;
  max-height: 100% !important;
}

// 评论弹窗顶部
.css-hzocic {
  pointer-events: none;
  .css-97fdvh,
  .css-r4op92 {
    pointer-events: auto;
  }
  &::after {
    content: '❌';
    margin-left: 10px;
    font-size: 14px;
    pointer-events: auto;
  }
}

.ErrorPage-text::after {
  content: '这是知乎因为移动端加载了电脑端网页导致（移动网页端想查看完整的评论和回答内容只能用此方法），会在部分回答中出现这个问题。不是修改器问题，暂时无法解决，刷新或后退返回回答页面。';
  padding: 24px;
}
